<div class="list">
    
    <section id="publications-view">
      <table>
        <thead>
        <tr>
          <th>User</th>
          <th>Artist</th>
          <th>Date</th>
          <th class = "long_cell">Oeuvre</th>
          <th class="long_cell">Titre</th>
          <th>Style</th>
          <th>Type</th>
          <th>Auteur</th>
          <th>Compositeur</th>
          <th>Ecouter</th>
          <th>Editer</th>
          <th>Supprimer</th>
        </tr>
        </thead>
        <tr *ngFor="let item of publications; let i = index">
          <td>{{ item.appUser }}</td>
          <td>{{ item.artist }}</td>
          <td>{{ item.date | date : 'dd/MM/yyyy' }}</td>
          <td>{{ item.artwork }}</td>
          <td>{{ item.title }}</td>
          <td>{{ item.style }}</td>
          <td>{{ item.type }}</td>
          <td>{{ item.author }}</td>
          <td>{{ item.composer }}</td>
          <td>
            <a href="{{item.snippet}}" target="_blank"> <button type="button" value="Bouton"> Ecouter</button></a>
          </td>
          <td>
            <button (click)="edit(item)" [routerLink]="['/edit']">Editer</button>
          </td>
          <td>
            <button (click)="publications.splice(i, 1)">Supprimer</button>
          </td>
        </tr>
      </table>
    </section>
  </div>
  