.list {
    margin: 10px;
  }
  
  #table-view {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  table,
  th,
  td {
    border: 1px solid var(--color-light);
    border-collapse: collapse;
    background-color: var(--color-lighter);
  }
  
  th, td {
    padding: 2px;
  }

  .long_cell{
    width: 9.52%;
  }
  .short_cell{
    width: 4.76%;
  }
  
  button {
    background-color: var(--color-dark);
    color: var(--color-lighter);
  }
  
  #buttonAdd {
    margin: 5px;
  }
  
  
  .flecheDesc {
    width: 0; 
    height: 0; 
    float:right;
    margin: 10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
  }
  .flecheAsc {
    width: 0; 
    height: 0;
    float:right;
    margin: 10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
  }
  




