<div class="list">
    
  <!-- <ul>
    <li ng-repeat="element in tableau">{{element}}</li>
  </ul> -->

    <section id="publications-view">
      <table>
        <thead>
        <tr>
          <th class = "short_cell"> <a (click) = 'sortOnUser()'    >User    </a> </th>
          <th class = "long_cell" > <a (click) = 'sortOnArtist()'  >Artist  </a> </th>
          <th class = "short_cell"> <a (click) = 'sortOnDate()'    >Date    </a> </th>
          <th class = "long_cell" > <a (click) = 'sortOnArtwork()' >Artwork </a> </th>
          <th class = "long_cell" > <a (click) = 'sortOnTitle()'   >Title   </a> </th>
          <th class = "short_cell"> <a (click) = 'sortOnStyle()'   >Style   </a> </th>
          <th class = "short_cell"> <a (click) = 'sortOnType()'    >Type    </a> </th>
          <th class = "short_cell"> <a (click) = 'sortOnAuthor()'  >Author  </a> </th>
          <th class = "short_cell"> <a (click) = 'sortOnComposer()'>Composer</a> </th>
          <th class = "short_cell"> Listen                                       </th>
          <th class = "short_cell"> Edit                                         </th>
          <th class = "short_cell"> Delete                                       </th>
        </tr>
        </thead>
        <tr *ngFor="let item of publicationList; let i = index">
          <td>{{ item.appUser?.nickName }}</td>
          <td>{{ item.artist?.name }}</td>
          <td>{{ item.date | date : 'dd/MM/yyyy' }}</td>
          <td>{{ item.artwork?.name }}</td>
          <td>{{ item.title?.name }}</td>
          <td>{{ item.title?.style }}</td>
          <td>{{ item.title?.type }}</td>
          <td>{{ item.title?.author }}</td>
          <td>{{ item.title?.composer }}</td>
          <td>
            <a href="{{item.snippet}}" target="_blank"> <button type="button" value="Bouton"> Listen</button></a>
          </td>
          <td>
            <button (click)="edit(item)" [routerLink]="['/publication-update']">Edit</button>
          </td>
          <td>
            <button (click)="deletePublication(publicationList[i])">Delete</button>
          </td>
        </tr>
      </table>
      
