<h1>Share your Music !</h1>
 
<head><link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet"></head>

<div class="top-bar">

    <div class="center">
      <button id="buttonList" routerLink=""> Back Home</button>
    </div>

    <div class="center" *ngIf="isLoggedInservice.isLoggedIn">
      <button id="buttonList" routerLink="publication-create"> Create new publication </button>
    </div>
  </div>

  <!-- Show only once connected-->

  <ng-template [ngIf]="isLoggedInservice.isLoggedIn">
    <div class ="login">
        <p> Login :  {{ isLoggedInservice.userLogin }} </p>  
    </div>
    <div class="disconnect">
      <button id="disconnect" (click)="disconnect()" routerLink=""> Disconnect </button>
    </div>

  </ng-template>
