<h1> Share Your Music !</h1>

<div><button class="btnlist" [routerLink]="['/']"> <h2>Welcome Page </h2></button></div>

<div class="welcome-message"> 
<p> 
    Welcome to "Share Your Music" 
    This website is dedicated to you guys. We hope we will enjoy sharing your favorites songs and artists with others.
    It is up to you to make this wbsite alive, sharing your comments and your likes for your favorites artists.
    We also hope you will learn to know forgotten or new artists this way 

    Enjoy !!!

</p>
</div>

<nav class="welcome-choice">
    <a routerLink="sign-up" routerLinkActive="active">Sign-up</a>
    <a routerLink="login"> Login</a>
    <a routerLink="publication-list"> Publications</a>
  </nav>

